<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw.ipis.routetaiwan"
    android:versionCode="3700"
    android:versionName="0.10.24" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/routetw_logo_v2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name=".SmsReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        
        <service android:name="FileIntentService"></service>

        <activity
            android:name="tw.ipis.routetaiwan.MainActivity"
            android:configChanges="locale|orientation|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        <activity android:name="tw.ipis.routetaiwan.map"
            android:label="@string/app_name" ></activity>
            -->
        
        <activity android:name="tw.ipis.routetaiwan.myfavorite"
            android:configChanges="locale|orientation|screenSize"
            android:label="@string/my_favorite" ></activity>
        
        <activity android:name="tw.ipis.routetaiwan.favorite_points"
            android:configChanges="locale|orientation|screenSize"
            android:label="@string/my_favorite" ></activity>
        
        <activity android:name="tw.ipis.routetaiwan.showmap"
            android:configChanges="locale|orientation|screenSize"
            android:label="@string/show_map" ></activity>
        
        <activity android:name="tw.ipis.routetaiwan.planroute"
            android:configChanges="locale|orientation|screenSize"
            android:label="@string/plan_route" ></activity>
        
        <activity android:name="tw.ipis.routetaiwan.pop_map"
            android:configChanges="locale|orientation|screenSize"
            android:theme="@style/ThemeWithCorners_noTitle" ></activity>
        
        <activity android:name="tw.ipis.routetaiwan.pop_transit"
            android:configChanges="locale|orientation|screenSize"
            android:theme="@style/ThemeWithCorners" ></activity>
        
        <activity android:name="tw.ipis.routetaiwan.diag_save"
            android:configChanges="locale|orientation|screenSize"
            android:theme="@style/ThemeWithCorners_noTitle" ></activity>
        
        <activity android:name="tw.ipis.routetaiwan.diag_delete"
            android:configChanges="locale|orientation|screenSize"
            android:theme="@style/ThemeWithCorners_noTitle" ></activity>
        
        <activity android:name="tw.ipis.routetaiwan.sms_send"
            android:configChanges="locale|orientation|screenSize"
            android:theme="@style/ThemeWithCorners_noTitle" ></activity>
        
        <activity android:name="tw.ipis.routetaiwan.SmsReceriver"
            android:configChanges="locale|orientation|screenSize"
            android:theme="@style/ThemeWithCorners_noTitle" ></activity>

        <!--  production key  -->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCLlYQfiYAcQsQXFZbksR4Frr0yrIhhR98"/>

        <!-- debug key -->
<!--
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAL7IpREp53WpGcHshCcjBBgnsL6KYLhzw"/>
-->
        
    </application>

</manifest>